<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>

    <p class="card-text">{{email}}</p>

    <a href="/user/create/{{_id}}/edit" class="card-link">Edit</a>
    <a href="/user/myEvents/{{_id}}/delete" class="card-link">Delete</a>
  </div>
</div>