<header>
    <style>
      #intro {
        background-image: url("https://images.pexels.com/photos/6185370/pexels-photo-6185370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        height: 800px;
        margin: 0;
      }

      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
    
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask" style="background-color: rgba(34, 34, 34, 0.8);">
        <div class="container d-flex align-items-start justify-content-center text-center h-100">
          <div class="text-white">
            <h1 class="mb-4 display-3">Momently</h1>
            <h5 class="mb-4">Create and organize all types of events!</h5>
            <a class="btn btn-outline-light btn-lg m-2 text-warning" href="/auth/signup" role="button"
              rel="nofollow" target="_blank">Start now!</a>
          </div>
        </div>
      </div>
    </div>
      



