<section>
<header>
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;
      margin-top: 58px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">My events</h1>
          <h4 class="mb-3">Create and organize all kinds of events</h4>
          <h4 class="mb-3">Quality time with your loved ones!</h4>
          <a class="btn btn-outline-light btn-lg" href="/user/create" role="button"
          >Create an event</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>

<div class="col">
      Event List
      {{#each eventList}}
      {{> eventCard this}}
      {{/each}}
 </div>
</section>
