<h2>Add new event</h2>
<form action="/user/create" method="POST">
  <h3>Title</h3>
  <input type="text" placeholder="Event title" name="title" />
  <h3>Location</h3>
  <input type="text" placeholder="Add Location" name="location" />
  <h3>Description</h3>
  <input type="text" placeholder="Add Description" name="description" />
  <h3>Date and time</h3>
  <input type="datetime-local" placeholder="Select date" name="date" />
{{!-- Guests list begins --}}
  <div class="container text-center">
  <div class="row">
    <div class="col">
     Add Guest
     {{!-- Ruta editar --}}
      {{#if isEdit}}
      <form 
      action="user/myEvents/{{guestEdit_id}}/edit"
      method="post"
      >
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Guest Name</label>
          <input
          value="{{guestEdit.fullName}}"
            type="text"
            class="form-control"
            id="fullName"
            placeholder="Full Name"
            name="fullName"
          />
        </div>
        <div class="mb-3">
          <label for="Description" class="form-label">Email</label>
          <textarea
         
            class="form-control"
            id="email"
            rows="3"
            name="email"
            placeholder="Email"
          >{{guestEdit.email}}</textarea>
        </div>
         <button type="submit" class="btn btn-primary">Edit Guest</button>
      </form>
      {{else}}
      <form 
      action="user/myEvents/create"
      method="post"
      >
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Guest Name</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            placeholder="Full Name"
            name="fullName"
          />
        </div>
        <div class="mb-3">
          <label for="Description" class="form-label">Email</label>
          <textarea
            class="form-control"
            id="email"
            rows="3"
            name="email"
            placeholder="Email"
          ></textarea>
        </div>
         <button type="submit" class="btn btn-primary">Add Guest</button>
      </form>
      {{/if}}
    </div>
    <div class="col">
      Guest List
      {{#each guest}}
      {{> guestCard this }}
      {{/each}}
    </div>
  </div>
</div>

  <button type="submit"> Create Event </button>
</form>