body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.text-white{
  text-align: center;
  margin-top: 100px;
}

.bg-image{
  background-repeat: no-repeat;
}

.d-grid{
  width: 400px;
  margin: auto;
}

.text{
  text-align: center;
  margin-top: 100px
}

.display-6{
  margin-bottom: 56px;
}

.list{
  list-style: none;
  margin: auto;
  text-align: center;
}

a:link { 
  text-decoration: none;
  color: rgb(9, 115, 244);
}
a:visited {
  text-decoration: none;
  color: rgb(9, 115, 244);
}

.body{
  padding: 50px;
}

.card{
  margin-bottom: 24px;
}

.edit{
  width: auto;
  margin: 0%;
}

.profile{
  text-align: center;
}

.profile-content{
  text-align: left;
}

.eventcard-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-link{
  margin-left: 24px;
  align-self: end;
}

.bg-image{
  background-attachment: contain;
	background-size: cover;
}

.guest-card{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}